@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
  background-color: #282828;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.input-group {
  display: flex;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  gap: 5px;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputs {
  position: absolute;
  width: 100%;
  top: 2%;
  display: flex;
}

input[type='color'] {
  opacity: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: none;
}
#color-picker-wrapper {
  float: left;
  border-radius: 50%;
}

#reset-color {
  border: none;
  background: transparent;
  color: white;
  border-radius: 50%;
  height: 25px;
  cursor: pointer;
}

#clear-grid {
  border: 1px dashed red;
  margin-left: 20px;
  background: transparent;
  color: white;
  border-radius: 20px;
  width: max-content;
  height: 25px;
}

#clear-grid:hover {
  background: red;
}

#game-canvas {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed rgba(255, 255, 255, 0.445);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .inputs {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }
  .input-group {
    width: 90%;
  }
}
